- content_for :javascript do
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDvfrF3Wxh_5lDf5r0hywLARFKz5F9x-WI'
  :coffee
    $ ->
      navigator.geolocation.getCurrentPosition(setUpGoogleMap)

Existing measurements:
#main-map
%p
  = link_to 'New Speed measurement', new_speed_measurement_path
